@{
  Layout = "_Layout";
}

<h1>Salon Manager</h1>
<hr />
<p>Hey Claire! Thanks for choosing us as your salon management solution! We're happy to have you! Our service allows you to easily view, edit, add, and remove both stylists and clients all in one place!</p>
<p>Click @Html.ActionLink("here", "Index", "Stylists") to view your stylists!</p>