@{
  Layout = "_Layout";
}

<h1>Welcome to the Salon Manager!</h1>
<hr />
<p>Hey Claire! Thank you for choosing us as your salon management service! We're happy to have you! Our service allows you to manage your list of stylists and their corresponding clients all in one place! Click @Html.ActionLink("HERE", "Index", "Stylists") to view your stylists!</p>